* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
input:focus,input{
  outline: none;
  border:none;
}
button{
  border:none;
  cursor: pointer;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

