$tablet-width: 768px;
.container {
  padding-top: 130px;
  padding-bottom: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #fff;
  mix-blend-mode: normal;
  background-color: #fff;
}
.contact_paragraph {
  text-align: justify;
  margin-top: 70px;
  width: 70%;
  max-width: 760px;
  font-size: 18px;
}
.contact_seperator {
  margin-top: 100px;
  width: 200px;
  height: auto;
}
.formContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 70px;
  width: 600px;
  font-size: 13px;
  font-weight: 700;
  font-family: var(--font-secondary);
  line-height: 20px;
  @media screen and (max-width: $tablet-width){
      width: 70%;
  }
}
.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  input,
  textarea {
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: 5px solid #000;
    border-top: none;
    border-right: none;
    padding: 0 10px;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000;
    &:focus {
      outline: none;
      border-bottom: 5px solid rgb(65, 0, 65);
      /*probably change to a nicer, more visible color */
      border-left: 5px solid rgb(65, 0, 65);
    }
  }
  textarea {
    height: 180px;
    padding: 10px;
    resize: none;
  }
}
.form_button {
  margin-top: 50px;
  color: black;
  padding: 13px 30px;
  &::before {
    background-color: black;
    left: -30px;
  }
  &::after {
    background-color: black;
    right: -30px;
  }
  &:hover {
    background-color: black;
    box-shadow: inset 0px 0px 0px 2px black;
    input {
      color: white;
    }
  }
  input {
    cursor: pointer;
    font-family: var(--font-secondary);
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease 0.2s;
    font-weight: 900;
    font-size: 15px;
  }
}
.warning {
  align-self: flex-start;
}
